<form class="col g-3 userProfile">
  <div class="col-md-6 unable-email">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="{{userEmail}}" value="{{userEmail}}">
  </div>
  <div class="col-md-6 unable-role">
    <label for="inputPassword4" class="form-label">Role</label>
    <input  class="form-control" id="inputPassword" placeholder="{{userRole}}" value="{{userRole}}">
  </div>
  <div class="col-md-6 edit-password hidden">
    <label for="inputPassword4" class="form-label">Old password</label>
    <input type="password" class="form-control" name="inputPasswordOld" placeholder="Input your OLD password">
    <label for="inputPassword4" class="form-label mt-2">New password</label>
    <input type="password" class="form-control" name="inputPasswordNew" placeholder="Input your NEW password">
  </div>
  
  <div class="col-5 d-row mt-1 edit-btn">
    <button  class="btn btn-primary edit-profile" data-routerIgnore="true">Edit profile</button>
    <button  class="btn btn-primary delit-profile ml-2">Delit profile</button>
  </div>

  <div class="col-5 d-row edit-profile-btn hidden mt-1">
    <button type="submit" class="btn btn-primary save-profile">Save profile</button>
  </div>


</form>