<form class="col gy-2 gx-3 align-items-center w-75 m-5 a-center h-100" name="userForm">
  <div class="col-auto w-100 mt-2">
    <input type="text" class="form-control" name="email" id="autoSizingInput" placeholder="Email">
  </div>
    <div class="col-auto w-100 mt-2">
    <input type="text" class="form-control" name="password" id="autoSizingInput" placeholder="Password">
  </div>

  <select class="form-select mt-2" name="select-role" aria-label="Default select example">
  <option selected>ROLE</option>
  <option value="shipper">SHIPPER</option>
  <option value="driver">DRIVER</option>  
  </select>


  <div class="col-auto mt-5">
    <button type="submit" class="btn btn-primary btn-login">Submit</button>
    <button type="submit" class="btn btn-primary btn-forgot">Forgot password</button>
    <button type="submit" class="btn btn-primary btn-registration">Registration</button>
  </div>
</form>