@background-color: #2A3F50;
@br-dark:#425869;
@black:#000;
@gray:#808080;
@btn-save:#59ABE3;
@btn-ok:#1ABC9C;
@meadow-dark:#16A085;
@meadow:#1ABC9C;
@deep-sea:#0E8C74;
@curious-blu:#368BC5;
@pelorous:#2380B5;
@nepal:#8DA5B8;
@spray:#82C7E0;
@white:white;
@ametist:#B470D0;
@lilac:#9849B8;
@red:red;
@tomato:#F75C4C;
@dark-coral:#C94D47;
@terracota:#E16C65;
@chestnut:#B74E4B;
@selective:#FFB200;
@gorse:#FDDC43;
@tangerine:#DD8F05;
@carrot:#FFA841;
@yellow:#F08E19;
@maliby:#59ABE3;
@turquoise:#00D4D9;
@percian-green:#04A5A5;
@color-pomodoro:transparent;


@mobile: ~"(min-width:520px)";
@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1440px)";



