    
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-outline-secondary br-none">NEW LOADS</button>
          <button type="button" class="btn btn-outline-secondary br-none">POSTED LOADS</button>
          <button type="button" class="btn btn-outline-secondary br-none">ASSIGNED LOADS</button>
          <button type="button" class="btn btn-outline-secondary br-none">HISTORY</button>
          <button type="button" class="btn btn-outline-secondary br-none" data-route="profile">PROFILE</button>
        </div>
