<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-info p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="row navbar-dark bg-info">
  <div class="col-md-1">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="j-start col-md-3">
     <h3> YOUR LOGO</h3>
  </div>
  <div  class="d-row j-end col-md-8">
    <h5>{{userName}}</h5>
    <button type="button" class="btn btn-primary w-10 logout ml-2">Log out</button>
  </div>
</nav>